.brand-logo-area {
	text-align: center;

}
.center-logo{
	padding: 1%;


}
.brand-logo-nav-image{

	width: 150px;

}
.fixed{
	position: fixed;
	width: 100%;
}


.navbar{
	box-shadow: none;
	box-shadow: 0 2px 2px 0px rgba(0,0,0,.5);
	padding: 0;
	background-color: transparent !important;
	
}
.fixed.colored-nav{
	background-color: #2196f3;
}
.nav-item{
	
	margin-right: 1%;
	margin-left: 1%;

}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-weight: bold;
}
ul.navbar-nav{
	width: 85%;
	margin: auto;
}


.header-video-area{
	height: 100vh;
	
	background-image: url('images/homePage/1.jpg');

}
.home-page-header-content{
	padding-top: 10%;

}


/*------Footer CSS------*/
.footer {
	background-color: #2196F3;
}

.footer-right {
	color: #fff;
	padding-top: 2%
}


.footer-line {
	width: 80%;
	background: #039BE5;
}

.footer-mid {

	padding-top: 2%;
}

.footer-left {
	padding-top: 2%;
	padding-left: 5%;
}

.text-secondary-color {
	color: #BBDEFB;
}

.text-primary-color {
	color: #2196F3;
}

.footer-bottom {
	padding-bottom: 2%;
}

.social-icons {
	height:30px;
	width: 30px;
}

.social {
	padding-bottom: 2%;
}

/*------Footer END------*/

/*------PARALLAX-----*/

.parallax { 

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*-----PARALLAX END-----*/

/*-----MAIN BODY-----*/


.separator-line {
	width: 80%;
}

.content-box {
	padding: 2%;
}

.overlay-text {
	vertical-align: middle;
	margin-top: 5%;
}

.outer-div
{
	padding: 30px;
	text-align: center;
}
.inner-div
{
	display: inline-block;
	padding: 50px;
}

.customer-photo-area{
	padding: 1%;
    text-align: center;
    margin-top: 2%;

}
.customer-photo-area h2{
	font-size: -webkit-xxx-large;
}
.customer-individual-photo{
	 display: inline-block;
    margin: 1%;

}
.customer-photo-image{
	width: 230px;

    	height:230px ;
        margin :0.5%;        
}

/*-----MAIN BODY END-----*/

